<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33333333%;
  /* padding: 10px; */
  height: 50vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<title>Sportwetten Revolution</title>
</head>
<body>

<div class="row">
  <div class="column">
    <br />
    <br />
    <b>   <center>Bets Taken: </center></b><b><center>{{stats[0]}}%</center></b><br />
    <b> <center>   Total Won: </center></b>
    {% if stats[1] <= 0 %}
    <b style = "color:red;"> <center>{{stats[1]}}</center><br /></b>
    {% else %}
    <b style = "color:green;"> <center>{{stats[1]}}</center><br /></b>
    {% endif %}
    <b>  <center>  5% - 10% Won: </center></b>
    {% if stats[2] <= 0 %}
    <b style = "color:red;"> <center>{{stats[2]}}</center><br /></b>
    {% else %}
    <b style = "color:green;"> <center>{{stats[2]}}</center><br /></b>
    {% endif %}
    <b>  <center>  10% - 15% Won: </center></b>
    {% if stats[3] <= 0 %}
    <b style = "color:red;"> <center>{{stats[3]}}</center><br /></b>
    {% else %}
    <b style = "color:green;"> <center>{{stats[3]}}</center><br /></b>
    {% endif %}
    <b>  <center>  15% - 20%+ Won: </center></b>
    {% if stats[4] <= 0 %}
    <b style = "color:red;"> <center>{{stats[4]}}</center><br /></b>
    {% else %}
    <b style = "color:green;"> <center>{{stats[4]}}</center><br /></b>
    {% endif %}
    <b>  <center>  Requests Left: </center></b><b><center>{{stats[5]}}</center><br /></b>
    <center><a href="/refresh_plots"> Update Plots</a></center>
  </div>
  <div class="column">
      <h1><center>{{ question }}</center></h1>
      <form action="/poll">
          {% for e in answeres %}
          <center><input type="radio" name="field" value="{{ e }}"> {{ e }}</center><br>
          {% endfor %}
          <center><input type="submit" value="Vote" /></center>
      </form>
  </div>
  <div class="column">
    <!-- <p>Some text..</p> -->
    <centered><img src="./../static/images/plot_all.png" alt="Chart"></centered>
  </div>
</div>
<div class="row">
  <div class="column">
    <!-- <p>Some text..</p> -->
    <centered><img src="./../static/images/plot_low.png" alt="Chart"></centered>
  </div>
  <div class="column">
    <centered><img src="./../static/images/plot_mid.png" alt="Chart"></centered>
  </div>
  <div class="column">
    <centered><img src="./../static/images/plot_high.png" alt="Chart"></centered>
  </div>
</div>

</body>
